body {
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3 {
    font-family: "Montserrat";
    font-weight: 700;
}

h2 {
    font-size: 2.0rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
}

p {
    color: #afafaf;
}

.big-heading {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

#title {
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}

.container-fluid {
    padding: 3% 15% 7%;
}
/* navigation bar */

.navbar {
    padding:0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: light;
}

/* download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* title image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* features section */
#features {
    padding: 7% 10%;
    background-color: #fff;
    position: relative;
    
}

.feature-box {
    padding: 3%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
} 

.icon:hover {
    color: #ff4c68;
}

/* testimonial section */

#testimonials {
    background-color: #ef8172;
    color: #fff;
}

.carousel-item {
    padding: 7% 10%;
}

.testimonial-image {
    width: 30%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 20%;
    margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
    padding: 100px;
}

.pricing-column {
    padding:3% 2%;
}


/* cta section */
#cta {
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
}

.cta-heading {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

/* footer section */

#footer {
    padding: 7% 15%;
}

.social-icon {
    margin: 20px 10px;
}

@media (max-width: 990px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}

.card-body {
    text-align: left;
}